.navbar {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0px 30px;
    position: relative;
    margin: 0 auto;
    border-bottom: 2px solid #000000;
    background-color: #444343;
    color: white;
}

.logo-navbar {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    letter-spacing: -1px;
}

.logo-navbar > p {
    font-family: "Soleil_Bold", Helvetica, Arial, Sans-serif;
    letter-spacing: 1px;  
}

.logo-img {
    width:50px;
}

.logo-nav{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.ul-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    height: 100%;
}

.ul-nav > li {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 50px;
    height: 100%;
}

.ul-nav > li:hover {
    box-shadow: inset 0 -5px 0 0 #769de4;
}


.ul-nav > li:hover > a {
    color: #769de4;
}

.ul-nav > a{
    display: flex; 
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Soleil_Bold", Helvetica, Arial, Sans-serif;
    font-size: 20px;
    color: white;
}

.session-nav {
    display: inline-block;
    margin-left: auto;
    color: white;
}


.session-nav > a{
    display: flex; 
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Soleil_Bold", Helvetica, Arial, Sans-serif;
    font-size: 20px;
    color: white;
}


.session-nav > a:hover{
    color: #769de4;
}

.navbar-right {
    display: flex;
}